# dependencies
node_modules/
apps/web/node_modules/

# next.js
apps/web/.next/
apps/web/out/

# env
.env
.env*.local
!.env.example

# Go
services/api/bin/

# misc
tmp/
.DS_Store
*.pem
.cursor/

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
apps/web/next-env.d.ts
